@{
    Layout = "~/Views/Shared/_PublicLayout_v2.cshtml";
}

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2>Our Products</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="#"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="#">Products</a><i class="icon-angle-right"></i></li>
              <li class="active">All Products</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="row">
              <section id="projects">
                <ul id="thumbs" class="portfolio">
                  <li class="item-thumbs span4 design" data-id="id-0" data-type="web">
                    <a href="/Products/Mangosteen" class="hover-wrap fancybox" data-fancybox-group="gallery"  title="Mangosteen Nature Blend Juiced Mix">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
					</a>
                    <img src="/App_Themes/Public/v2/img/products/mangosteen.png">
                  </li>
                  <li class="item-thumbs span4 design" data-id="id-1" data-type="icon">
                    <a href="/Products/Guyanoni" class="hover-wrap fancybox" data-fancybox-group="gallery"  title="GuyaNONI drink">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
				    </a>
                    <img src="/App_Themes/Public/v2/img/products/guyanoni.png" />
                  </li>
                  <li class="item-thumbs span4 photography" data-id="id-2" data-type="graphic">
                    <a href="/Products/BlazeiCoffee" class="hover-wrap fancybox" data-fancybox-group="gallery"  title="ORYZA & AGARICUS Blazei Coffee">
						<span class="overlay-img"></span>
						<span class="overlay-img-thumb font-icon-plus"></span>
				    </a>
                    <img src="/App_Themes/Public/v2/img/products/coffee.png" />
                  </li>               
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </section>
