@{
    Layout = "~/Views/Shared/_PublicLayout_v2.cshtml";
}

    <section id="inner-headline">
      <div class="container">
        <div class="row">
          <div class="span4">
            <div class="inner-heading">
              <h2 style="font-size:35px;">ORYZA & AGARICUS Blazei Coffee</h2>
            </div>
          </div>
          <div class="span8">
            <ul class="breadcrumb">
              <li><a href="/"><i class="icon-home"></i></a><i class="icon-angle-right"></i></li>
              <li><a href="/Products">Products</a><i class="icon-angle-right"></i></li>
              <li class="active">Blazei Coffee</li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section id="content">
      <div class="container">
        <div class="row">
          <div class="span6">
            <h2>Healthy <strong>Benefits</strong></h2>
              <ul>
                  <li>Helps weight loss</li>
                  <li>Lower in calories</li>
                  <li>Loaded with fiber</li>
                  <li>Promotes Good Digestion</li>
                  <li>Boosts metabolism to burn fat</li>
                  <li>Offers zinc to boost imune function</li>
                  <li>Reduce risk of cancer and heart disease</li>
                  <li>Lowers cholesterol</li>
              </ul>
          </div>
          <div class="span6">
            <!-- start flexslider -->
            <div class="flexslider">
              <ul class="slides">
                <li>
                  <img src="/App_Themes/Public/v2/img/products/coffee.png" alt="" />
                </li>
                  <li>
                  <img src="/App_Themes/Public/v2/img/products/coffee-benefits.jpg" alt="" />
                </li>
              </ul>
            </div>
            <!-- end flexslider -->
          </div>
        </div>
      </div>
    </section>
