@{
    ViewBag.Title = "Account";
    Layout = "~/Areas/MyAccount/Views/Shared/_MyAccountLayout.cshtml";
}


<div class="col-lg-12">
    <div class="card">
        <div class="card-header">
            <strong>Change</strong> Password
        </div>

        @using (Html.BeginForm())
        {

            <div class="card-body card-block">

                @if (ViewBag.Result != null)
                {
                    if (ViewBag.Result == string.Empty)
                    {
                        <div class="sufee-alert alert with-close alert-success alert-dismissible fade show">
                            <span class="badge badge-pill badge-success">Success!</span>
                            @System.Configuration.ConfigurationManager.AppSettings["PasswordSuccessMsg"].ToString()
                        </div>
                    }
                    else
                    {
                        <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show">
                            <span class="badge badge-pill badge-danger">Sorry!</span>
                            @System.Configuration.ConfigurationManager.AppSettings[ViewBag.Result].ToString()
                        </div>
                    }
                }

                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">New Password</label></div>
                    <div class="col-12 col-md-5">@Html.TextBox("newpwd","", new { @class="form-control", @placeholder="New Password", @type="password"})</div>
                </div>

                <div class="row form-group">
                    <div class="col col-md-3"><label class=" form-control-label">Confirm Password</label></div>
                    <div class="col-12 col-md-5">@Html.TextBox("confirmpwd","", new { @class="form-control", @placeholder="Confirm Password", @type="password"})</div>
                </div>

            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary btn-sm">
                    <i class="fa fa-dot-circle-o"></i> Submit
                </button>
                <button type="reset" class="btn btn-danger btn-sm">
                    <i class="fa fa-ban"></i> Reset
                </button>
            </div>
        }
    </div>
</div>

